[submodule "vendor/Ser"]
	path = vendor/Ser
	url = https://github.com/gvx/Ser
[submodule "vendor/luigi"]
	path = vendor/luigi
	url = https://github.com/airstruck/luigi
[submodule "vendor/hump"]
	path = vendor/hump
	url = https://github.com/vrld/hump.git
